body {
  background-color: #282c34;
  color: white;
  text-align: center;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

main {
  display: flex;
  min-height: 100vh;
}

#home-btn {
  cursor: pointer;
  height: 32px;
  position: absolute;
  left: 5px;
  top: 5px;
}

#sound-btn {
  cursor: pointer;
  height: 32px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
