hr {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 50%;
}

.join-input {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 190px;
}

.menu-button {
  display: block;
  font-size: 28px;
  margin: 5px auto;
  padding: 5px;
  width: 200px;
}

.menu-header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 10px;
}

.menu-info {
  font-size: 20px;
  margin: 0 auto 36px auto;
  position: relative;
  width: 50%;
}

.menu-info a {
  color: #00a5e4;
}

.menu-info-theory {
  background-color: #1a1a23;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.menu-info-small-text {
  margin: 0;
}

.menu-info-title {
  margin-top: 0;
}

.menu-options {
  display: flex;
  justify-content: center;
  margin: auto;
  width: fit-content;
}

.menu-options > div {
  border: 3px solid #BBBBBB;
  border-radius: 4%;
  margin: 20px;
  padding: 40px 40px;
}

#minimize-button {
  cursor: pointer;
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 0px;
  width: 25px;
}

.minimized {
  display: none;
}

.info-div {
  margin: auto;
  width: 80%;
}

.name-label {
  font-size: 32px;
  padding: 10px;
}

.name-input {
  display: block;
  font-size: 20px;
  margin-top: 7px;
  width: 150px;
}

.roundInputDiv {
  margin-top: 20px;
}

#roundsLabel {
  font-size: 26px;
  margin-top: 0;
}

.title {
  margin: 0;
}